*{
	margin: 0;
	padding: 0;
}
body{
background-color: #252525;
}
header{
	/*position: absolute;*/
	background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.7)), url(back.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	min-width: 700px;
	min-height: 400px;
	
}

.main-nav{

	float: right;
	list-style: none;
	margin-top: 30px;
	margin-right: 10px;


}

.main-nav li{
	display: inline-block;
	padding: 5px 3px;
}

.main-nav a{

	padding: 5px 15px;
	color: rgba(255,255,255,.8);
	text-decoration: none;
	font-family: 'Arvo', serif;
	font-size: 18px;
}

.main-nav a:hover{
	color: rgba(255,255,255,0.7);
	background: linear-gradient(to right, rgba(105, 125, 171,.5), rgba(163, 159, 198,.5));
	padding: 5px 15px;
	border: 0px solid white;
	border-radius: 10px;
}


#home {
	border: 1px solid rgba(255,255,255,.8);
	border-radius: 10px;
}

#home:hover {

	background: none;
	color: rgba(255,255,255,0);
	border: none;
}

.logo img{
	float: left;
	height: auto;
	width: 100px;
	margin-top: 10px;
	margin-left: 5px;
}

.row{
	max-width: 1500px;
	margin: auto;
}

.hero{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%) translateY(-50%);
	text-align: center;
	min-width: 700px;
}

h1{
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 4rem;
	color: rgba(255,255,255,.8);
	text-align: center;
}

.btn-row{
	margin-top: 20px;
	margin-left: -60px;
}

.btn{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: rgba(255,255,255,.8);
	font-size: 30px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 5px 10px;
	border: 1px solid ;
	border-radius: 2px;
	background: none;
	cursor: pointer;
}

.btn-one:hover{
background: linear-gradient(to right, rgba(46, 184, 177, .4), rgba(215, 102, 203, .4));
}

.btn-two:hover{
background: linear-gradient(to right, rgba(215, 102, 203, .4), rgba(46, 184, 177, .4));
}

.null-div{
	margin-top: -50px;
	padding: 0;
}

.snow{
height: 90vh;

}